{% extends 'layout.html' %}

{% block title %}
    {{ book[0][2] }} by {{ book[0][3] }}
{% endblock %}

{% block body %}
    <h1>{{ book[0][2] }}</h1>
    <p>by {{ book[0][3] }}</p>

    <ul>
        <li><strong>Year:</strong> {{ book[0][4] }}</li>
        <li><strong>ISBN:</strong> {{ book[0][1] }}</li>
        <li><strong>Average Rating from Goodreads</strong> {{ Goodreads.average_rating }}</li>
        <li><strong>Number of Ratings from Goodreads</strong> {{ Goodreads.number_of_ratings }}</li>
    </ul>

    <h2>Reader Reviews</h2>
    <p>There are currently no reader reviews.</p>

{% endblock %}