{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>Books</h1>

    <table class="table table-hover table-dark table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <th scope="row">{{ book.id }}</th>
                    <!-- <td><a href="books/{{ book.isbn }}">{{ book.isbn }}</a></td>
                    <td><a href="books/{{ book.isbn }}">{{ book.title }}</a></td>
                    <td><a href="books/{{ book.isbn }}">{{ book.author }}</a></td> -->
                    <td><a href="books/{{ book.id }}">{{ book.isbn }}</a></td>
                    <td><a href="books/{{ book.id }}">{{ book.title }}</a></td>
                    <td><a href="books/{{ book.id }}">{{ book.author }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}